.tabla {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    min-width: 400px;
}

.tabla thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.tabla th, td {
    border: 1px solid #dddddd;
    padding: 12px 15px;
    text-align: left;
}

.boton {
    background-color: #787878;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 5px;

    transition: background-color 0.3s ease, transform 0.1s ease;
}

.boton:hover {
    background-color: #585858;
}
